/* a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;} */

/* :root {
    --height-nav-bar: 80px;
    --header-color: white; 
    --main-color: grey;
    --color-title: red;
    --color-blue: #00b5e4;
    --color-orange: #a20232;
    --color-footer: rgb(20, 20, 20);
    --color-gris-fonce: #343434;
    --size-h1: 65px;
    --size-h2: 50px;
    --size-p-normal: 20px;
    --size-p-article: 16px;
    --font-family-title: 'Roboto', sans-serif;
    --font-family-text: 'Montserrat', sans-serif;
    --height-footer: 500px;
    --height-footer-reponsive: 350px;
} */

@media (max-width: 1200px) {

    /* Animation du bienvenu avec le left changé car taille du texte changée */ 
    @keyframes animation-titre-responsive{
        0%{
            left: -360px;
        }
        100%{
            left: calc(50% - (237.78px/2));
        }
    }

                                             /* Header */ 

    
    /* Retirer tout le menu sauf le sixième de la liste pour garder l'icon panier */

    div.container-flex-ul > ul.list-menu > li:not(:nth-child(6)){
        display: none;
    }
    /* Aumenter la taille de l'icon panier */
    div.container-flex-ul > ul.list-menu > li:nth-child(6) > img#img-panier{
        width: 25px;
        height: 25px;
    }
    /* Aligner le menu burger avec l'icon panier */

    div.container-flex-ul > ul.list-menu > li:last-child{
        display: inline-block;
    }

    /* faire apparaitre le menu burger */

    #burger{
        display: inline-block;
    }


    /* Hero */ 

    div > div#container-logo-nav{
        width: 100%;
    }
    div > div#container-logo-nav > img#logo-nav{
        margin: 50px auto 20px auto !important; 
        width: 60% !important;
    }
    div > div#container-logo-nav > h1#titre{
        font-size: 50px;
        left: calc(50% - (237.78px/2));
        animation: animation-titre-responsive 3s ease-in-out;
    }

    /* Fin du hero */ 

    /* Début du main */ 
    main>section:nth-child(1) > h2{
        font-size: 40px;
    }
    main>section:nth-child(1) > div.container-img-flex > a{
        width: 200px;
        height: 200px;
    }
    section.section-restaurant > h2#restaurants{
        font-size: 40px;
    }
    div.placement-article{
        width: auto;
    }
    div.container-article{
        flex-wrap: wrap;
        justify-content: center;
    }
    div.container-article > article.block-style{
        width: 80vw;
        height: 20vh;
    }

    /* à faire: */ 
    div.container-article > article.block-style{
        padding: calc(225px - 160px) 0 0 0;
    }
    div.container-article:first-child > article.block-style:nth-child(1) > h3::after{
        top: calc(65px + 25px); 
    }
    div.container-article:first-child > article.block-style:nth-child(2) > h3::after{
        top: calc(65px + 25px);
    }
    div.container-article:last-child > article.block-style:nth-child(1) > h3::after{
        top: calc(65px + 25px);
    }
    div.container-article:last-child > article.block-style:nth-child(2) > h3::after{
        top: calc(65px + 25px);
    }

    /* Réduction de la line-height */
    div.container-article > article.block-style > p{
        line-height: calc(var(--size-p-article) * 1.5);
    }
    /* FOOTER */ 

    /* réduire la hauteur du footer */
    footer{
        height: var( --height-footer-reponsive );
    }
    /* réduire la hauteur de la div */
    footer > div.flex-footer{
        height: calc(var( --height-footer-reponsive ) - 30px);
        margin: 0 5%;
    }
    section.container-menu{
        padding: 0;
    }
    section.container-menu:not( :last-child ){
        margin: 0 30px 0 0;
    }
    section.container-menu > h3{
        margin: 0;
        font-size: 20px;
    }
    ul.list-footer > li {
        margin: 7px 0;
    } 
    a.link-list-footer{
        font-size: 12px;
    }
    a.link-list-footer > p {
        font-size: 10px;
        margin: 5px 0 0 0;
    }
    div#map-google{
        height: 230px;
        width: 250px;
    }
    /* PAGE CONTACT */

    /* Main contact */

    form > div.input-container{
        padding: 0 100px;
        margin: 30px 0;
    }
    form > div.input-container:nth-child(2){
        margin: 30px 0;
        padding: 0 100px;
    }
    form > div.input-container:nth-child(3){
        display: block;
        width: 60%;
        padding: 0;
        margin: 30px auto;
    }
    form > div.input-container > input{
        width: 100%;
        margin: 10px 0;
    }

    form > div.input-container > label input {
        display: block;
    }
    form > div.input-container > textarea {
        width: 100%;
        display: block;
    }
    form > div.input-container > label {
        font-size: 15px;
        margin: 0;
    }
    form > div.input-container > label.margin{
        margin: 0;
    }
    form > div.input-container:nth-child(3) div.input-container:nth-child(4){
        display: block;
    }
}

/* ÉCRAN SMARTPHONE */

@media (max-width: 850px){

    /* Baisser la taille de la police pour les blocs restaurants */ 
    div.container-article > article.block-style > h3{
        font-size: 15px;
    }
    div.container-article > article.block-style > p{
        font-size: 12px;
        line-height: calc(var(--size-p-article));
    }

    /* FOOTER */

    /* Enlever le google API */
    section.container-menu:last-child{
        display: none;
    }


    /* PAGE MENU */
    
    main#main > section{
        width: 100vw;
    }

    /* PAGE CONTACT */


    /* Gestion des marges et goutieres */


    main.main-contact{
        padding: 0 0 40px 0;
    }
    main.main-contact > h1{
        font-size: 35px;
    }
    main.main-contact > div.main-contact-flex{
        width: 80vw;
    }
    main.main-contact > div.main-contact-flex > h2{
        margin: 0 20px;
        font-size: 30px;
    }
    form > div.input-container{
        padding: 0 50px;
        margin: 20px 0;
    }
    form > div.input-container:nth-child(2){
        padding: 0 50px;
        margin: 20px 0;
    }
    form > div.input-container:nth-child(3){
        display: block;
        width: 70%;
        padding: 0;
        margin: 20px auto;
    }
}